JWT_SECRET=replace-with-a-generated-secret
JWT_EXPIRATION_MS=86400000

DB_URL=jdbc:postgresql://localhost:5432/replace-with-your-db-name
DB_USERNAME=replace-with-username
DB_PASSWORD=replace-with-password